body{
  font-family: arial;
}

img{}

ul{}

.nav{
  background-color: 2f3539;
}

.container{}

.logo{}

.menu{
  color: white;
}

.menu > li{}

header{
  background-image: url('../images/header.jpg');
  height: 375px;
  width: 100%;
  background-position: center center;
}

.header-title{
  background-color: 2f3539;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin: auto;
  text-transform: uppercase;
  width: 450px;
}
